@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Inter:wght@200;400;600;700;900&family=Playfair:wght@400;700;900&display=swap');
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Playfair', serif; 
*/

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
input,
button {
  padding: 0;
  margin: 0;
}


body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Playfair', serif;
}

/* Header */

.header {
  min-height: 188px;
  padding-left: 95px;
  padding-right: 100px;

}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.nav-menu {
  padding-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__list ul {
  display: flex;
}

.nav-menu__item {
  list-style: none;
  padding-left: 106px;
}

.nav-menu__item a {
  text-decoration: none;
  color: #2F2E2E;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.nav-menu__btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 64px;
}

.nav-menu h3 a {
  text-decoration: none;
  color: #2F2E2E;
  font-family: 'Barlow', sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
}

.nav-menu a:hover {
  color: orange;
  transition: 0.7s;
}

/* Best-sooution */

.best-solution__flex-box {
  display: flex;
  min-height: 739px;
  background-image: url(../img/pexels.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.best-solution__flex-box__inner {
  padding-left: 99px;
  margin-top: 95px;
  margin-left: 1px;
  width: 691px;
  height: 550px;
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%);
}

.best-solution__flex-box__inner h2 {
  padding-top: 138px;
  color: #2F2E2E;
  font-size: 51px;
  font-weight: 900;
  line-height: normal;
  max-width: 479px;
  padding-bottom: 10px;
}

.best-solution__flex-box__inner p {
  max-width: 554px;
  color: #2F2E2E;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

/* Our-services */

.our-services {
  background: rgba(37, 77, 77, 0.20);
  min-height: 384px;
  margin-bottom: 76px;
}

.our-services h3 {
  margin-bottom: 45px;
  padding-top: 16px;
  color: #2F2E2E;
  text-align: center;
  font-size: 51px;
  font-weight: 900;
}

.our-services__item img {
  display: block;
  margin: 0 auto;
}

.our-services__item h4 {
  color: #2F2E2E;
  font-size: 27px;
  font-weight: 900;
  text-align: center;
}

.our-services__item p {
  color: #2F2E2E;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}

.our-services__wrapper {
  display: flex;
  justify-content: space-around;
}

/* About us */

.about-us__wrapper {
  display: flex;
}

.about-us__wrapper img {
  margin-left: 70px;
  width: 735px;
  height: 571px;
}

.about-us__inner {
  padding-left: 85px;
  padding-top: 77px;
}

.about-us__inner h3 {
  color: #2F2E2E;
  font-size: 51px;
  font-weight: 900;
  padding-bottom: 27px;
}

.about-us__inner p {
  color: #2F2E2E;
  font-size: 31px;
  font-weight: 400;
  max-width: 456px;
  padding-bottom: 36px;
}

.about-us__inner a {
  text-decoration: none;
  color: #2F2E2E;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.about-us__inner a:hover {
  color: orange;
}

.about-us__wrapper {
  margin-bottom: 95px;
}

/* Our projects*/

.our-projects {
  padding-left: 100px;
  padding-right: 100px;
}

.our-projects h3 {
  color: #2F2E2E;
  font-size: 51px;
  font-weight: 900;
  margin-bottom: 71px;
}

.our-projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 86px;
  column-gap: 104px;
  justify-items: center;
  margin-bottom: 90px;
}

.our-projects__grid__item h5 {
  color: #2F2E2E;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

/* Testimonial */

.testimonial {
  margin-bottom: 130px;
}

.testimonial h3 {
  color: #000;
  text-align: center;
  font-size: 51px;
  font-weight: 900;
  margin-bottom: 78px;
}

.testimonial__wrapper {
  display: flex;
  justify-content: space-around;
}

.testimonial__wrapper__item {
  display: flex;
}

.testimonial__wrapper__item__text h4 {
  color: #2F2E2E;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Playfair', serif;
}

.testimonial__wrapper__item__text p {
  color: #2F2E2E;
  font-size: 17px;
  font-weight: 400;
  max-width: 307px;
  font-family: 'Playfair', serif;
}

.testimonial__wrapper__item__text {
  padding-left: 29px;
}

.testimonial__wrapper__item__text h4 {
  margin-bottom: 16px;
}

/* Footer */

.footer {
  background-color: #2E2F32;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 340px;
}

.footer-wrapper {
  display: flex;
  padding-top: 47px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__item p {
  color: #FAFAFA;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 19px;
}

.footer__item h4 {
  color: #FAFAFA;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 18px;
}

.footer__item a {
  text-decoration: none;
  color: #FAFAFA;
  font-family: 'Barlow', sans-serif;
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 7px;
}

.left p {
  max-width: 314px;
}

.middle p {
  max-width: 201px;
}

.footer__item a {
  padding-right: 8px;
  padding-bottom: 0;
}

.footer__item a:last-child {
  padding-right: 0;
}

.footer__item h3 a:hover {
  color: orange;
  transition: 0.7s;
}

@media screen and (max-width: 1358px) {
  .our-projects {
    padding-left: 10px;
    padding-right: 10px;
  }

  .our-projects__grid {
    row-gap: 36px;
    column-gap: 50px;
  }
}

@media screen and (max-width: 1358px) {
  .our-projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1208px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-menu__item {
    padding-left: 25px;
  }
}

@media screen and (max-width: 1126px) {
  .about-us__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-us__wrapper img {
    margin-left: 0;
  }

  .about-us__inner {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1009px) {
  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .testimonial {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .best-solution__flex-box__inner {
    max-width: 400px;
    height: 398px;
    padding-left: 55px;
  }

  .best-solution__flex-box__inner h2 {
    font-size: 40px;
  }

  .best-solution__flex-box__inner p {
    font-size: 22px;
  }

  .testimonial__wrapper {
    flex-wrap: wrap;
  }

  .testimonial__wrapper__item {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 884px) {
  .our-services__wrapper {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 784px) {
  .about-us__inner {
    padding-top: 0;
  }

  .about-us__inner h3 {
    font-size: 37px;
    padding-bottom: 12px;
  }

  .about-us__inner p {
    font-size: 21px;
    padding-bottom: 29px;
  }

  .about-us__inner span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .about-us__wrapper img {
    width: 500px;
    height: 420px;
  }

  .our-projects__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-us__wrapper {
    margin-bottom: 25px;
  }

  .our-projects h3 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 695px) {
  .footer__item h3 {
    text-align: center;
  }

  .footer__item p {
    text-align: center;
  }

  .footer__item h4 {
    text-align: center;
  }

  .footer__item a {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .iframe {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 551px) {
  .our-services__item {
    margin-bottom: 20px;
  }

  .our-services h3 {
    font-size: 42px;
  }

  .about-us__wrapper img {
    width: 250px;
    height: 250px;
  }

  .about-us__inner p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .testimonial h3 {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .our-projects__grid {
    margin-bottom: 45px;
  }

  .testimonial__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial__wrapper__item img {
    align-self: center;
  }

  .testimonial__wrapper__item {
    flex-direction: column;
  }

  .testimonial__wrapper__item__text {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 516px) {
  .nav-menu__list {
    flex-direction: column;
  }

  .nav-menu__item {
    padding-left: 0;
  }

  .nav-menu__list ul {
    flex-direction: column;
  }

  .nav-menu__btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 516px) {
  .best-solution__flex-box {
    min-height: 600px;
  }

  .best-solution__flex-box__inner {
    max-width: 300px;
    height: 250px;
    padding-left: 35px;
  }

  .best-solution__flex-box__inner h2 {
    font-size: 30px;
    padding-top: 59px;
    padding-bottom: 33px;
  }

  .best-solution__flex-box__inner p {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  .our-projects__grid__item img {
    width: 277px;
    height: 160px;
  }
}